:root {
    --bg-color: #0e0e0e;
    --bg-secondary-color: #303030;
    --color-primary: #ff9c5b;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #c45555;
    --color-success: #61965a;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #dddddd;
    --font-family-sans: sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*
 * Disable padding on small screens.
 * Why do I care? Because I CAN!
 */
@media screen and (max-width : 425px) {
    body {
        padding: 1%;
    }
}

input,
textarea {
    background-color: var(--bg-secondary-color);
    color: var(--font-color);
}

.editor-selector-group {
    text-align: center;
    margin-bottom: 20px;
}

.editor-selector-group img {
    display: block;
    margin: auto;
}

.editor-selector-group input[type='radio'] {
    display: none;
}

.editor-selector-group label {
    display: inline-block;
    padding: 3px;
    border: 0;
    border-radius: 4px;
    background-color: var(--bg-secondary-color);
    width: 5em;
    height: fit-content;
    text-align: center;
    transition: ease-in 0.25s;
}

.editor-selector-group input[type='radio']:checked+label {
    background: linear-gradient(to top right, #ff6287, #ff9c5b 80%, #ffd766);
}

.svg-inverted {
    filter: invert(1);
}

.result_output_box {
    visibility: hidden;
    opacity: 0;
    margin-top: 10%;
    white-space: nowrap;
    overflow: scroll;
    background: linear-gradient(to right, #ff6287, #ff9c5b);
    background-size: 400% 400%;
    border-radius: 4px;
    transition: 0.4s ease-in-out;
    animation: output_field_gradient 40s ease infinite;
}

.result_output_text {
    color: #fff;
    opacity: 0.95;
    font-size: 24px;
}

.href_hidden {
    color: var(--bg-secondary-color);
}

.prevent_select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-image {
    margin-bottom: 50px;
}

#copyright_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--bg-secondary-color);
    text-align: center;
}

#btn_copy_to_clipboard {
    min-width: fit-content;
}

@keyframes output_field_gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
